.forum .sidebar {
  color: #777;
}

.forum .sidebar .sidebar-header {
  padding: 1rem 1rem 1rem 0;
  border-bottom: solid thin #ccc;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.forum .sidebar .sidebar-body li {
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding: 1rem 1rem 1rem 1rem;
}

.forum .sidebar .sidebar-body li:not(:last-child) {
  border-bottom: solid thin #ddd;
}

.forum .sidebar .sidebar-body li span {
  font-size: 2rem;
  margin-right: 0.3rem;
}

.forum-stats, .forum-categories, .hot-topics {
  margin-bottom: 2rem;
}

.forum-categories .sidebar-body {
  /*background-color: #fff !important;*/
}

.forum .sidebar .sidebar-body {
  background-color: #eee;
}

.sidebar-body .my-label {
  float: right;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar .badge {
  margin-right: 1.5rem;
  font-style: normal;
  background-color: #b8762e;
  margin-top: -0.4rem;
}

.sidebar a {
  color: #777;
}

.sidebar a:hover {
  color: #b8762e;
  text-decoration: none;
}

.forum_body_header {
  margin-bottom: 1rem;
}

.forum_body_header div:first-child {
  padding-left: 0;
}

.forum_body_header div:last-child {
  padding-right: 0;
}

.forum_body_header div {
  text-align: center;
}

#category-form, #search-form, #topic-form {
  display: none;
}

#category-form button, #search-form button, #topic-form button {
  border: none;
}

.topic-body, .cat-body {
  display: none;
}

.forum-threads {
  background-color: #eee;
  padding: 1rem 1rem 1rem 1rem;
  color: #777;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.forum-threads img {
  width: 8rem;
  height: 8rem;
  float: left;
  margin-right: 1rem;
}

.forum-threads h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 2rem;
}

.forum-threads span {
  display: block;
}

.forum-threads .comments {
  margin-left: 3rem;
}

.bolden {
  color: #000 !important;
  font-style: normal;
}

.forum-post {
  background-color: #eee;
  padding: 1rem 1rem 1rem 1rem;
  color: #777;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-radius: 1rem 1rem 1rem 1rem;
}

.topic-post {
  text-align: justify;
  margin-top: 3rem;
}

.post-header {
  border-bottom: solid thin #bbb;
  padding-bottom: 2rem;
}

.post-header h3 {
  text-transform: uppercase;
  color: #b8762e;
}

.topic-discussion {
  background-color: #eee;
  border: solid thin #ccc;
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 2rem;
}

.topic-discussion .topic-post-header {
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: solid thin #ddd;
}

.topic-discussion .topic-post-header img {
  width: 6rem;
  height: 6rem;
  float: left;
  margin-right: 1rem;
  margin-top: -0.8rem;
}

.topic-discussion .topic-post-header span {
  color: #999;
  font-size: 1.43rem;
}

.topic-discussion .topic-post-body, .topic-post {
  font-size: 1.7rem;
  text-align: justify;
}

.forum_post_reply {
  margin-top: 3rem;
  display: none;
}

.forum_post_reply textarea {
  height: 5rem;
}

.topic-post-body .reply-link {
  margin-bottom: 2rem;
}