.panel-info{
  border-color:#b8762e;
}

.panel-heading-custom{
  background-color: #b8762e;
  border-color: #b8762e;
  color: #fff;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#create-price{
  padding: 1em 1em 2em 2em;
  border-top: solid thin #ccc;
  margin:1em 2em 0 2em;
  display:none;
}